<html>
    <head>
        <title>Uploaded Image</title>
        <link rel="stylesheet" href="./css/bootstrap.css"/>
    </head>
    <body>
        <div class="container">
            <div class="justify-content justify-content-center">
                <h3><%=imageTitle%></h3>
                <img src="images/<%=imageName%>" alt="Uploaded Image" class="w-50 h-50" />
            </div>
        </div>
    </body>
</html>