<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="d-flex">
                <h1><%=imgTitle%></h1>
                <br>
                <img src="/images/<%=imgName%>" style="height:100px;width:100px"/>
            </div>
        </div>
    </body>
</html>